@page "/"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h1>Bienvenido @context.User.Identity.Name !!</h1>

        <p></p>

    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>