@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<HxMessenger Position="ToastContainerPosition.BottomEnd" />
<HxMessageBoxHost />

<div class="d-md-flex min-vh-100 container-xxl">
    <AuthorizeView>
        <Authorized>
 			<HxSidebar CssClass="sticky-top">
 				<HeaderTemplate>
 					<HxSidebarBrand BrandName="Reservas" BrandNameShort="D" />
 				</HeaderTemplate>
 				<ItemsTemplate>
 					<HxSidebarItem Text="Eventos" Icon="BootstrapIcon.Calendar">
                         <HxSidebarItem Text="Listado" Icon="BootstrapIcon.List" Href="ListarEventos" />
                         <HxSidebarItem Text="Nuevo evento" Href="AgregarEvento" Icon="BootstrapIcon.Plus"/>  
                         <HxSidebarItem Text="Categorías" Icon="BootstrapIcon.Diamond">
                             <HxSidebarItem Text="Listado" Icon="BootstrapIcon.List" Href="ListarCategorias" />
                             <HxSidebarItem Text="Nueva categoría" Href="AgregarCategoria" Icon="BootstrapIcon.Plus" />
                         </HxSidebarItem>
                    </HxSidebarItem>
 					<HxSidebarItem Text="Ventas" Icon="BootstrapIcon.CurrencyDollar" Href="" /> 				
 					<HxSidebarItem Text="Pagos" Href="" Icon="BootstrapIcon.Receipt" />
 					
 					
		 
 				</ItemsTemplate>
	            <FooterTemplate>
		            <div b-7yp9wz11kh>
			            <a class="nav-link position-relative" @onclick="@LogoutClick">
				            <div class="stretched-link flex-grow-1">
					            <div class="align-items-center">
						            <HxIcon Icon="@BootstrapIcon.BoxArrowLeft"/>
						            <span class="text ms-3">Salir</span>
					            </div>
				            </div>
			            </a>
		            </div>
	            </FooterTemplate>
 			</HxSidebar>
		 
 				<div class="main p-4 flex-grow-1 overflow-hidden">
 					@Body
 				</div>
		</Authorized>
        <NotAuthorized>
            @*Just render the body so that RedirectToLogin works*@
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>


@code{

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}