@page "/Login"
@using System.ComponentModel.DataAnnotations

@* @inject ILoginViewModel _loginViewModel *@
@inject NavigationManager _navigationManager


<h3>Ingresar</h3>

<EditForm Model="@formLogin">
	@* OnValidSubmit="@LoginUser()" *@
		<DataAnnotationsValidator/>

		<HxInputText Label="Usuario" @bind-Value="@formLogin.Usuario" Hint="" Type="InputType.Email"/>

		<HxInputText Label="Contraseña" @bind-Value="@formLogin.Pwd" Hint="" Type="InputType.Password"/>

		<HxSubmit Color="ThemeColor.Primary">Ingresar</HxSubmit>

</EditForm>

@code {

    // public async Task LoginUser()
    // {
    //     await _loginViewModel.LoginUser();
    //     _navigationManager.NavigateTo("/", true);
    // }
	   //
	protected FormLogin formLogin = new FormLogin();

	public class FormLogin
	{
		[Required(ErrorMessage = "Ingresá tu email")]
		public string Usuario { get; set; }
		
		[Required(ErrorMessage = "Ingresá tu contraseña")]
		public string Pwd { get; set; }

	}
	
}