@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Reflection.Metadata

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div b-7yp9wz11kh>
            <a class="nav-link position-relative" @onclick="BeginSignOut">
                <div class="stretched-link flex-grow-1">
                    <div class="align-items-center">
                        <HxIcon Icon="@BootstrapIcon.BoxArrowLeft"/>
                        <span class="text ms-3">Salir</span>
                    </div>
                </div>
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div b-7yp9wz11kh>
        <a class="nav-link position-relative" href="authentication/login">
            <div class="stretched-link flex-grow-1">
                <div class="align-items-center">
                    <HxIcon Icon="@BootstrapIcon.BoxArrowInLeft"/>
                    <span class="text ms-3">Ingresar</span>
                </div>
            </div>
        </a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
