@inherits LayoutComponentBase


<HxMessenger Position="HxToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<div class="d-md-flex min-vh-100 container-xxl">
	<HxSidebar CssClass="sticky-top">
		<HeaderTemplate>
			<HxSidebarBrand BrandName="Reservas" BrandNameShort="D" />
		</HeaderTemplate>
		<ItemsTemplate>
			<HxSidebarItem Text="Home" Icon="BootstrapIcon.Person" Href="" />
			<HxSidebarItem Text="Counter" Icon="BootstrapIcon.Person" Href="counter" />
			
			<HxSidebarItem Text="Fetch Data" Href="fetchdata" Icon="BootstrapIcon.Clock" />
			
			<HxSidebarItem Text="First-level item 1" Href="TODO" Icon="BootstrapIcon.Wallet2" />
			<HxSidebarItem Text="First-level item 1" Href="TODO" Icon="BootstrapIcon.ClipboardData" />

		</ItemsTemplate>
		<FooterTemplate>
			<LoginDisplay />
		</FooterTemplate>
	</HxSidebar>

	<main>
		<div class="main p-4 flex-grow-1 overflow-hidden">
			@Body
		</div>
	</main>
</div>
